name: C/C++ CI

on:
  push:
    branches: [ dev-fiona ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

#    steps:
#    - uses: actions/checkout@v2
#    - name: make all
#      run: make all
